.aboutContainer{
    position: absolute;
    margin-top: 7%;
    width: 100%;
    max-width: 200%;
    padding: 0 20px;
}

.aboutTitle{
    display: flex;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.13);
}

.text{
    width: 100%;
    text-align: center;
}

.aboutTitle .text{
    color: white;
}

.team{
    text-align: center;
    margin-top: 5%;
}